<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <div class="home-button">
        <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
      </div>
      <a class="navbar-brand" href="{% url 'producto_formulario' %}">Ingresar Producto</a>
      <a class="navbar-brand" href="{% url 'BusquedaMarca' %}">Buscar Producto</a>
      <a class="navbar-brand" href="{% url 'ListaProductos' %}">Listar Productos</a>      
      <a class="navbar-brand" href="{% url 'proveedor_formulario' %}">Ingresar Proveedor</a>      
      <a class="navbar-brand" href="{% url 'compra_formulario' %}">Ingresar Compra</a>      
      <a class="btn btn-primary" href="#">Ingresar</a>
    </div>
  </nav>